{{- $desc := .Description | default .Site.Params.description -}}
{{- $title := cond .IsHome .Site.Title .Title -}}
<meta name="description" content="{{ $desc }}">
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:type" content="{{ cond .IsHome "website" "article" }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta name="twitter:card" content="summary">
