/* External links */

a[href^=http]:not([href*='altinndigital.no']):not([href*='altinn.no']):not([href*='altinn.studio']):not([href*='altinn.github.io'])::after {
    display: inline-block;
    width: 1.3em;
    background-image: url("https://altinn.no/images/arrowrightup.svg");
    background-repeat: no-repeat;
    background-size: 119% auto;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: -3px;
    content: '(external link)';
    white-space: nowrap;
    overflow: hidden;
    text-indent: 1.3em;
}


/* Fix for tags pushing header to the right */

#tags {
    float: none;
    margin-top: -1.5rem;
}


/* Scrollable tables */

#body-inner table {
    display: block;
    width: 98%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0;
    margin-bottom: 2em;
}

#body-inner table th {
    border: 1px solid #eaeaea;
}


/* Avoid large margin for images in tables */

#body td a>img {
    margin: 0 auto !important;
}


/* * * * * * * * * * * * * * * * * * * * * /
 * Overriding css from altinn digitalisering.
 * * * * * * * * * * * * * * * * * * * * * /

 /* Footer */

body {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1e2b3c;
    padding: 70px 0;
    margin-top: auto;
}

footer .container {
    max-width: 1240px;
}

.footer-brand__logo,
.footer .footer-brand__logo {
    height: 38px;
    margin-bottom: 13px;
    margin-left: -8px;
}

.footer-brand__text,
.footer .footer-brand__text {
    color: #d7d7d7;
    font-weight: 400;
    font-size: 15px;
    line-height: 2em;
}

.footer__heading {
    color: white;
    margin-bottom: 16px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.4px;
}

.footer-links__list,
.footer .footer-links__list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.footer-links__item a::before,
.footer .footer-links__item a::before {
    content: "";
    font-family: "Font Awesome 5 Brands", sans-serif;
    margin-right: 8px;
    font-size: 17px;
}

.footer-links__item a,
.footer .footer-links__item a {
    color: #d7d7d7;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    border-bottom: none;
}

.footer-links__item a:hover,
.footer .footer-links__item a:hover,
.footer-contact__item a:hover,
.footer .footer-contact__item a:hover,
.footer-contact__icon:hover,
.footer .footer-contact__icon:hover {
    color: white;
    border-bottom: none;
}

.footer-contact__item span:first-child,
.footer .footer-contact__item span:first-child {
    color: white;
}

.footer-contact__item,
.footer .footer-contact__item {
    color: #d7d7d7;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 15px;
}

.footer-contact__item a,
.footer .footer-contact__item a {
    color: #d7d7d7;
    text-decoration: underline;
    border-bottom: none;
}

.footer-contact__icon,
.footer .footer-contact__icon {
    color: #d7d7d7;
    margin-top: 0;
    margin-right: 16px;
    display: inline-block;
    font-size: 20px;
    border-bottom: none;
    font-family: "Font Awesome 5 Brands";
}


/* Login link in topbar */

.a-header-options {
    margin-top: -2px;
}

.a-header-options .nav-link.a-personSwitcher {
    padding: 8px 12px 8px 12px;
}

.an-login {
    display: none;
}

@media all and (min-width: 768px) {
    .an-login {
        display: block;
    }
}

.a-personSwitcher:hover,
.a-personSwitcher .a-personSwitcher-icon {
    color: #fff;
}

.a-personSwitcher .a-personSwitcher-name span {
    font-weight: 700;
}

@media all and (min-width: 768px) {
    .a-globalNav-main li {
        margin-left: 24px;
    }
}

@media all and (min-width: 992px) {
    .a-globalNav-main li {
        margin-left: 38px;
    }
}


/* Logo and info about docs for Altinn 2 */

.a-globalNav .a-globalNav-logo {
    margin-top: -6px;
}

@media all and (min-width: 768px) {
    .a-globalNav .a-globalNav-logo {
        margin-top: 0;
    }
}

@media all and (min-width: 992px) {
    .a-header .a-logo {
        max-width: 256px;
    }
}

.a-logo-group {
    display: flex;
    align-items: center;
}

.a-logo-text {
    margin-bottom: 0;
    font-size: 2.7rem;
    font-family: 'Inter';
    color: white;
}

.d-logo {
    max-width: 100%;
    margin: 10px 20px 20px 20px;
    object-fit: cover;
}

.search-btn {
    min-width: 20px !important;
}

.search-input {
    padding-right: 5px !important;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    grid-row-end: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-column-start: 1;
}

.main-nav a {
    text-decoration: none;
    border-bottom: none;
}

.logo-link {
    display: inline-block;
    flex-basis: auto;
    max-width: 100%;
}

.main-header {
    background-color: transparent;
}

.nav-menu {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 8px;
}

.nav-ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-ul-item {
    padding: 0;
    margin: 0;
}

.nav-link-active {
    color: #fff !important;
    background-color: #0078d4;
}

.nav-link {
    color: #000;
    margin-left: 1px;
    padding-top: 8px;
    margin-right: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
}

.nav-link:active,
.nav-link:focus {
    color: #fff !important;
}

.nav-link:hover:not(.nav-link-active) {
    color: #fff;
    background-color: #0078d4;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.nav-link-active:hover {
    color: #000 !important;
    background-color: #fff;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.adocs-logoInfo {
    color: #fff;
    display: block;
    font-size: 12px;
    margin-left: 36px;
    margin-top: 28px;
    position: absolute;
}

.adocs-content {
    padding: 0px 40px;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

@media all and (min-width: 578px) {
    .adocs-logoInfo {
        margin-left: 48px;
    }
}

@media all and (min-width: 768px) {
    .adocs-logoInfo {
        position: relative;
        display: inline-block;
        margin-top: 0;
        margin-left: 0;
        font-size: 20px;
    }
}

@media all and (min-width: 992px) {
    .adocs-logoInfo {
        font-size: 24px;
    }
}

.a-fontBold {
    font-family: 'Inter-bold';
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Inter';
}

.nav-items {
    margin: 10px 15px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
}