<nav class="a-jumpnav">
  <ul class="no-decoration d-flex">
    <li><a class="sr-only sr-only-focusable" href="#content">Hopp til hovedinnholdet</a></li>
    <li><a class="sr-only sr-only-focusable" href="#docsmenu">Hopp til meny</a></li>
  </ul>
</nav>

<header class="a-header">
  <!-- Begin .a-globalNav -->
  <nav class="a-globalNav " id="primary-nav">
    <a href="/" class="a-globalNav-logo">
      <div class="a-logo-group">
        <img src="/images/d-logo-white.svg" alt="Altinn digitalisering logo" class="d-logo">
        <h1 class="a-logo-text">data.altinn.no</h1>
      </div>
      <span class="sr-only">Til forsiden</span>
    </a>
  </nav> <!-- End .a-globalNav -->
</header>