<nav class="a-jumpnav">
  <ul class="no-decoration d-flex">
    <li><a class="sr-only sr-only-focusable" href="#content">Hopp til hovedinnholdet</a></li>
    <li><a class="sr-only sr-only-focusable" href="#docsmenu">Hopp til meny</a></li>
  </ul>
</nav>

<header class="main-header">
  <!-- Begin .a-globalNav -->
  <nav class="main-nav" id="primary-nav">
    <a href="https://data.altinn.no" class="logo-link">
      <img src="/images/dan-white.svg" alt="Altinn digitalisering logo" class="d-logo">
      <span class="sr-only">Til forsiden</span>
    </a>
    <div class="nav-menu menu-horizontal">
      <ul class="nav-ul">
        <li class="nav-ul-item"><a href="https://data.altinn.no" class="nav-link"
            data-bind="text: item.label, hyperlink: item.hyperlink, css: { 'nav-link-active': item.isActive }">Hjem</a>
        </li>
        <li class="nav-ul-item"><a href="https://data.altinn.no/apis" class="nav-link"
            data-bind="text: item.label, hyperlink: item.hyperlink, css: { 'nav-link-active': item.isActive }">API-er</a>
        </li>
        <li class="nav-ul-item"><a href="https://data.altinn.no/products" class="nav-link"
            data-bind="text: item.label, hyperlink: item.hyperlink, css: { 'nav-link-active': item.isActive }">Produkter</a>
        </li>
        <li class="nav-ul-item"><a href="https://docs.data.altinn.no/" class="nav-link nav-link-active"
            data-bind="text: item.label, hyperlink: item.hyperlink, css: { 'nav-link-active': item.isActive }"
            target="_self" rel="noopener noreferrer">Docs</a></li>
      </ul>
    </div>
  </nav> <!-- End .a-globalNav -->
</header>